In [13]:
import pandas as pd
import numpy as np

df= pd.read_excel("financial_summary_tesla.xlsx", index_col = 'Period')
df.head()

,Automotive revenue,Automotive revenue YoY,Total Revenues,Total Revenues YoY,Total Gross Profit,Total Gross Profit YoY,Income from operations,Income before income taxes,Net income,Net income attributable to common shareholders,Total assets,Total liabilities,Total liabilities and equity
Period,,,,,,,,,,,,,
2022-01-03,16861,0.87,18756,0.81,5460,1.47,3603,3626,3280,3318,66038,30632,66038
2022-01-04,16861,0.87,18756,0.81,5460,1.47,3603,3626,3280,3318,66038,30632,66038
2022-01-05,16861,0.87,18756,0.81,5460,1.47,3603,3626,3280,3318,66038,30632,66038
2022-01-06,16861,0.87,18756,0.81,5460,1.47,3603,3626,3280,3318,66038,30632,66038
2022-01-07,16861,0.87,18756,0.81,5460,1.47,3603,3626,3280,3318,66038,30632,66038